AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here

NVIDIA_API_KEY=your_nvidia_nim_api_key_here
NVIDIA_MODEL_ID=meta/llama-4-maverick-17b-128e-instruct

POLLY_VOICE_ID=Ruth

TABLE_PATIENTS=symptom_scribe_patients
TABLE_APPOINTMENTS=symptom_scribe_appointments
TABLE_SESSIONS=symptom_scribe_sessions
TABLE_SUMMARIES=symptom_scribe_summaries

USE_MOCK_SERVICES=false
TRANSCRIPTION_PROVIDER=aws
